body {
    background-color: #524C42;
    color: #E2DFD0;

}

.titulo_destaque {
    color: #22D4FD;
}

header {
    background-color: #32012F;
}

footer {
    background-color: #32012F;
}